<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://oms-qa-tokenmanager.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/be4a766e-c4cd-49dd-8319-41ccb0c927bf/resourcegroups/RG-AZ-WOX-API/providers/Microsoft.Web/sites/OMS-QA-TokenManager</ResourceId>
    <UserName>$OMS-QA-TokenManager</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://oms-qa-tokenmanager.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>